
.select2-selection__arrow b {
  border-color: rgb(50, 19, 151) transparent transparent transparent!important;
}

table.noBackground tbody tr {
  background: white!important;
}


table:not(#emailDiv table, .attachmentsTable, .cke_dialog_ui_vbox table, .cke_dialog_contents  )  {
  border-collapse: collapse;
    box-shadow: none;
  margin-bottom: 15px;
 
  border-radius: 5px;
}

table:not(#emailDiv table, .attachmentsTable, .cke_dialog_ui_vbox table, .cke_dialog_contents), td, th {
  border: 0px;
}

table:not(#emailDiv table, .attachmentsTable, .cke_dialog_ui_vbox table, .cke_dialog_contents ) tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

table:not(#emailDiv table, .attachmentsTable, .cke_dialog_ui_vbox table, .cke_dialog_contents ) tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

table:not(#emailDiv table, .attachmentsTable, .cke_dialog_ui_vbox table, .cke_dialog_contents ) td.border {
  border: 1px solid;
  padding: 5px;
}
  

td.jqplot-table-legend {
  border: 0px;
  background: white!important;
}
tr.jqplot-table-legend {
  background: white!important;
}

table.jqplot-table-legend,
table.jqplot-cursor-legend {
  border: 0px !important;
}

table.jqplot-table-legend {
  background: white!important;
  box-shadow: unset!important;
}

.jqplot-table-legend {
  box-shadow: unset;
}

div.jqplot-table-legend-swatch-outline {
  border: 0px !important;
}

table:not(#emailDiv table, .attachmentsTable) tr:nth-child(even) {
  background-color: #f1f1f1;
}


table[role="presentation"] {
  box-shadow: unset;
}

td[role="presentation"] {
  background-color: white !important;
}



table:not(#emailDiv table, .attachmentsTable, .cke_dialog_ui_vbox table, .cke_dialog_contents )  tr:nth-child(even) {
background-color: rgb(246, 246, 246)!important;
}
table:not(#emailDiv table, .attachmentsTable, .cke_dialog_ui_vbox table, .cke_dialog_contents ) tr {
    background-color: rgb(246, 246, 246)!important;
}

table:not(#emailDiv table, .attachmentsTable, .cke_dialog_ui_vbox table, .cke_dialog_contents ) thead tr {
    background-color: rgb(50, 19, 151)!important;
}

table:not(#emailDiv table, .attachmentsTable, .cke_dialog_ui_vbox table, .cke_dialog_contents ).ui-datepicker-calendar thead tr {
    color: #fff !important;
}

table:not(#emailDiv table, .attachmentsTable, .cke_dialog_ui_vbox table, .cke_dialog_contents ) thead {
        border-style: hidden!important;
}

table:not(#emailDiv table, .attachmentsTable, .cke_dialog_ui_vbox table, .cke_dialog_contents ) {
    border-style: hidden!important;
}

table:not(#emailDiv table, .attachmentsTable, .cke_dialog_ui_vbox table, .cke_dialog_contents )  tbody {
    border-style: hidden!important;
}

table:not(#emailDiv table, .attachmentsTable, .cke_dialog_ui_vbox table, .cke_dialog_contents ) tbody td {
    border: 3px solid white;
}

body {
  font-family: "Poppins", sans-serif ;
  font-size: 12pt;
  background-color: #fcfcfc;
}

h2 {

  font-family: "Poppins", sans-serif;

}

h1 {
  font-family: "Poppins", sans-serif;
    font-weight: 500;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

input, select {
  font-family:  "Poppins", sans-serif ;
    border-radius: 4px;
}

.fakeEmailInput {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

}

.inboxFakeEmailInput {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

}

input, select {
  font-family:  "Poppins", sans-serif ;
}

select {
  font-family: "Poppins", sans-serif;
}

.input-error-text {
    color: red;
    font-size: 75%;
    margin-top: 0;
}

label {
      border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

}

fieldset {
  border-radius: 10px;
  box-shadow: none;
}

#navbar2 {
  box-shadow: none;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 55px;
  z-index: 1500;
  margin-bottom: 6px;
  height: 41px;
  line-height: 41px;
  background: transparent;
  top: 68px;
  box-shadow: none;
}
.navElements li {
  flex: 1 1 0px;
  width: 12.5%;
  height: 40px;
  line-height:40px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.ui-widget-content {
  border-radius: 4px!important;
}

.jqplot-target {
font-family: "Poppins", sans-serif !important;
}


.grey {
  background: rgb(79,34,227);
}

.green {
  background: rgb(104,150,101);
}

.blue {
  background: rgb(64,32,128);
}

.yellow {
  background: rgb(201,165,70);
}

.brown {
  background: rgb(197,91,79);
}

.red {
  background: rgb(157,123,228);
}

.orange {
  background: rgb(76,165,214);
}

#right {
      border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;

}

#side {
      border-top-left-radius: 10px;
  border-bottom-left-radius: 0px;

}

#mailboxHolder {
  box-shadow: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.button {
  height: 30px;
  background: rgb(219, 97, 83);
  border: 0px solid #C2C2C2;
  border-radius: 4px;
  box-shadow: none; 
  position: relative;
  color: white;
  height: 40px;
  padding-left: 15px;
  padding-right:15px;
}

.button:hover {
  background: rgb(219, 97, 83);;
  opacity: 0.8;
}

.buttonLink {
  height: 40px;
  line-height: 40px;
  background: rgb(219, 97, 83);;
  border: 0px solid #C2C2C2;
  border-radius: 8px;
  color: white!important;
  text-transform: capitalize;
  display: inline-block;
  padding-left: 15px;
  padding-right:15px;
  font-size: 90%;
  text-decoration: none;
  min-width: 80px;
  font-size: 14.4px!important;
}


.buttonLink:disabled {
    color: rgb(211, 211, 211) !important;
    cursor: inherit;
    border-color: rgb(250, 250, 250);
    border-style: solid;
    border-width: 1px;
    background-color: rgb(250, 250, 250);
}



.buttonLink:hover {
  opacity: 0.8;
}

.scaytTextArea {
  font-family: "Poppins", sans-serif !important;
}

.context-menu-list {
  font-family: "Poppins", sans-serif !important;
    border-radius: 4px;
}

.select2-container--default .select2-selection--single {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.select2-container--default .select2-selection--multiple {
      border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}


  .select2-container--default.select2-container--focus
  .select2-selection--multiple {
      border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  }

  .select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
      border-radius: 4px;}

      .select2-container--default .select2-results>.select2-results__options {
  border-radius: 4px;
}

.select2-container--open .select2-dropdown--below {
  border-radius: 4px;
}

.reveal-modal {
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;

}

.fakeFieldset {
  border-radius: 10px;
  box-shadow: none;
}

.inputBackground {
  font-family: "Poppins", sans-serif;
}

.faketextboxComponent {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.buttonComponent-small {
  border-radius: 4px;
  background: rgb(219, 97, 83);;
  border: 0px solid #C2C2C2;
  border-radius: 8px;
  color: white!important;
  text-transform: capitalize;
  padding-left: 15px;
  padding-right:15px;
  font-size: 90%;
  text-decoration: none;
  box-shadow: unset;
}

.buttonComponent-small:hover {
  opacity: 0.8;
  background: rgb(219, 97, 83);;
}

.buttonComponent-large {
      border-radius: 4px;
   background: rgb(219, 97, 83);;
  border: 0px solid #C2C2C2;
  border-radius: 8px;
  color: white!important;
  text-transform: capitalize;
  padding-left: 15px;
  padding-right:15px;
  font-size: 90%;
  text-decoration: none;
  box-shadow: unset;
}


.buttonComponent-large:hover {
  opacity: 0.8;
  background: rgb(219, 97, 83);;
}

.segmentCard {
      border-radius: 10px;
}

.inputBackground {
  font-family: "Poppins", sans-serif;
}

.bulkCreateCaseMatch {
  border-radius: 4px;
}

#no_email {
    background-color: white;
    color: #8BC34A;
    border-radius: 4px;
    width: 5px;
    font-weight: 900;
}

#searchAllName {
    width: 99%;
    text-align: left;
    border-style: solid;
    margin-left: -50px;
    border-radius: 8px 0 0 8px;
    border-color: #293d98;
    height: 22px;
    padding-left: 20px
}

.search-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
    transform: translateY(-2px);
}

#searchBarBtn {
    background: #293d98;
    font-size: 17px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    height: 34px;
    width: 37px;
    border-style: solid;
    border-color: #293d98
}

#searchBarBtn img {
    margin-top: 3px;
    height: 20px;
    width: 20px;
    margin-right: 1px;
}

.pgHeading {
    font-size: 27px;
    margin-bottom: 12px;
}

.pgHeading-green {
    color: #379946;
}

.pgHeading-blue {
    color: #6BC9F2;
}

.pgHeading-yellow {
    color: #7A7A7A;
}

.pgHeading-brown {
    color: #831618;
}

.pgHeading-red {
    color: #f2b81b;
}

.pgHeading-white {
    color: white;
}

.pgHeading-orange {
    color: #EF6F36;
}

.pgHeading-purple {
    color: #6a4794;
}

.pgHeading-darkblue {
    color: #293d98
}

.reveal-modal {
    margin-top: 22px
}

.caseNoteActionButtonLeft {
  display: inline-block; 
  min-width: 125px; 
  font-size: 13px; 
  padding: 2px;   
  border-top-left-radius: 5px; 
  border-bottom-left-radius: 5px; 
  background: white;
  border: 1px solid #c0c0c0; 
  text-align: center;
  text-decoration: none;
  padding-left: 7px;
  padding-right: 7px;
}

.caseNoteActionButtonLeft:hover {
  background: #f6f6f6
}

.caseNoteActionButton {
  display: inline-block; 
  min-width: 125px; 
  font-size: 13px;  
  padding: 2px; 
  background: white;
  border: 1px solid #c0c0c0;  
padding-left: 7px;
  padding-right: 7px;
  border-left: 0px; 
  text-align: center;
  text-decoration: none;
}
.caseNoteActionButton:hover {
  background: #f6f6f6
}

.caseNoteActionButtonRight {
   display: inline-block;  
   min-width: 125px; 
   font-size: 13px;  
   padding: 2px;  
   border-bottom-right-radius: 5px; 
   border-top-right-radius: 5px; 
padding-left: 7px;
  padding-right: 7px;
   background: white; 
   border: 1px solid #c0c0c0; 
   border-left: 0px;
   text-align: center;
   text-decoration: none;
}
.caseNoteActionButtonRight:hover {
  background: #f6f6f6
}

.caseNoteActionButtonSolo {
   display: inline-block;  
   min-width: 125px; 
   font-size: 13px;  
   padding: 2px;  
   border-bottom-right-radius: 5px; 
   border-top-right-radius: 5px; 
   border-top-left-radius: 5px; 
   border-bottom-left-radius: 5px; 
   background: white; 
   border: 1px solid #c0c0c0; 
   text-align: center;
   text-decoration: none;
   padding-left: 7px;
  padding-right: 7px;
}


.caseNoteActionButtonSolo:hover {
  background: #f6f6f6
}
.caseNoteActionButtonRight:hover {
  background: #f6f6f6
}


.goButton {
  height: 30px; margin-left: 5px;
}