body.editemailtemplate {
  #edittemplateForm {
    &,
    & + div,
    & > div {
      display: block;
      margin: 0 auto;
    }

    h3 {
      margin-left: -15px;
    }

    fieldset {
      width: calc(100% - 22px);
    }
  }
}
