.manageFlags {
  label {
    width: 300px;
  }

  .select2 {
    width: 300px !important;
    margin-top: 10px;
    margin-right: 10px;
  }

  .select2-results__option[aria-selected="true"] {
    display: none;
  }
}
